/* import base css file so we can have changeable themes */
@import url("acol_base.css");
/* set color-related items */
body {
  background-color:#ffffff;
  color:#9c9c9c; 
}
div#wrapper { 
  /*border: 1px solid #9c9c9c; */
}
div#nav {
  color:#9c9c9c;
  /*text-shadow: 2px 2px 7px #111;
  border: 1px solid #9c9c9c; */
}
div.header {
  color:#9c9c9c;
}
div.footer {
  color:#9c9c9c;
}
a {
  color:#1e90ff;
  text-shadow: 2px 2px 7px #111;
  text-decoration:none;
  letter-spacing:1px;
}
a:visited {
  color:#6495ED;
}
a#current {
  color:#9c9c9c;
}
a:hover {
  color:#a0522d;
}
img.shadow {
  border: 0 none;
  -moz-box-shadow: 3px 3px 4px #111;
  -webkit-box-shadow: 3px 3px 4px #111;
  box-shadow: 3px 3px 4px #111;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
}
